[Unit]

Description=Perform instrument specific customizations and start!

[Service]
Type=oneshot
ExecStart=/home/Caldera/config/doDtreeOverlay
ExecStart=/home/Caldera/config/installGadgets

[Install]

WantedBy=multi-user.target
