[Unit]
After=instrument.service

Description=Autostart the application's launch script

[Service]
Type=oneshot
ExecStart=/home/Nighthawk/bin/nighthawk
RemainAfterExit=yes

[Install]

WantedBy=multi-user.target
